global:
  scrape_interval: 15s

scrape_configs:
  #### MONITORING SERVICES
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['{{ node_exporter_service_name }}:{{ node_exporter_service_port }}']
  - job_name: 'loki'
    static_configs:
      - targets: ['{{ loki_service_name }}:{{ loki_service_port }}']
  - job_name: 'promtail'
    static_configs:
      - targets: ['{{ promtail_service_name }}:{{ promtail_service_port }}']
  - job_name: pushgateway
    scrape_interval: 5s
    static_configs:
      - targets: ['{{ pushgateway_service_name }}:{{ pushgateway_service_port }}']
    honor_labels: true
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['{{ prometheus_service_name }}:{{ prometheus_service_port }}']
  #### UTILITY SERVICES
  # https://www.consul.io/docs/agent/telemetry
  - job_name: 'consul'
    metrics_path: '/v1/agent/metrics'
    params:
      format: ['prometheus']    
    static_configs:
    - targets: ['{{ ansible_default_ipv4.address }}:8500']    
  # https://www.vaultproject.io/docs/configuration/telemetry
  - job_name: 'vault'
    metrics_path: "/v1/sys/metrics"
    params:
      format: ['prometheus']
    scheme: http
    # tls_config:
    #   ca_file: your_ca_here.pem
    #bearer_token: "your_vault_token_here"
    static_configs:
    - targets: ['{{ ansible_default_ipv4.address }}:8200']
  - job_name: 'uptime'
    scrape_interval: 30s
    static_configs:
      - targets: ['{{ ansible_default_ipv4.address }}:3001']
    scheme: http
    basic_auth: # Only needed if authentication is enabled (default) 
      username: homelab
      password: "vowel-liable-treason"
  #### OTHER SERVICES
  # https://www.home-assistant.io/integrations/prometheus/
  # Example Prometheus scrape_configs entry (For version 2.26+)
  - job_name: 'hass'
    scrape_interval: 60s
    static_configs:
      - targets: ['{{ ansible_default_ipv4.address }}:8123']
    scheme: http
    metrics_path: /api/prometheus
    # Long-Lived Access Token
    authorization:
      credentials: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiI2NmEzZTYyOWQwY2Y0NDU0OGM1ZWY3MDdjNjk1MDUzZSIsImlhdCI6MTY1ODQwNzAxNSwiZXhwIjoxOTczNzY3MDE1fQ.G_Qb_D4eipqKz_5vzX6r5OE9cMAeoaeyIB64eYP5M4E"
  # https://github.com/xperimental/nextcloud-exporter
  - job_name: 'nextcloud'
    scrape_interval: 90s
    static_configs:
      - targets: ['{{ ansible_default_ipv4.address }}:9205']
